<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
				<li ui-sref-active="active" can-access="parametros"><a ui-sref="home.parametros">Parametros</a></li>
		    	<li ui-sref-active="active" can-access="usuarios"><a ui-sref="home.usuarios">Usuarios</a></li>
		    	<li ui-sref-active="active" can-access="roles"><a ui-sref="home.roles">Roles</a></li>
		    	<li ui-sref-active="active" can-access="modulos"><a ui-sref="home.modulos">Modulos</a></li>
		    	<li ui-sref-active="active" can-access="test"><a ui-sref="home.test">test</a></li>
			</ul>
		</div><!--/end left column-->
		<div class="col-md-10" ui-view>
		</div>
	</div>
</div>