
<div class="modal-header">
	<h3 class="modal-title">Detalles Usuario</h3>
</div>
<div class="modal-body">
	<form role="form" novalidate name="userDetail">
		<div class="form-group"
			ng-class="{ 'has-error': userDetail.identificacion.$dirty && userDetail.identificacion.$invalid }">
			<label for="identificacion">Identificación</label> <input type="text"
				class="form-control" ng-model="model.identificacion"
				id="identificacion" name="identificacion"
				placeholder="Identificación" required>
			<div class="error-container"
				ng-messages="userDetail.identificacion.$dirty && userDetail.identificacion.$error">
				<div ng-message="required">Identificación es requerido</div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': userDetail.usuario.$dirty && userDetail.usuario.$invalid }">
			<label for="usuario">Usuario</label> <input type="text"
				class="form-control" ng-model="model.usuario" id="usuario"
				name="usuario" placeholder="Nombre de usuario" required>
			<div class="error-container"
				ng-messages="userDetail.usuario.$dirty && userDetail.usuario.$error">
				<div ng-message="required">Nombre de usuario es requerido</div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': userDetail.nombre.$dirty && userDetail.nombre.$invalid }">
			<label for="nombre">Nombre</label> <input type="text"
				class="form-control" ng-model="model.nombre" id="nombre"
				name="nombre" placeholder="Nombre" required>
			<div class="error-container"
				ng-messages="userDetail.nombre.$dirty && userDetail.nombre.$error">
				<div ng-message="required">El nombre requerido</div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': userDetail.email.$dirty && userDetail.email.$invalid }">
			<label for="email">Email</label> <input type="email"
				class="form-control" ng-model="model.email" id="email" name="email"
				placeholder="Email" required>
			<div class="error-container"
				ng-messages="userDetail.email.$dirty && userDetail.email.$error">
				<div ng-message="required">Email es requerido</div>
			</div>
		</div>
		<div class="form-group">
			<label for="fecharetiro">Fecha de retiro</label>
			<p class="input-group">
				<input type="text" class="form-control"
					datepicker-popup="{{format}}" ng-model="model.fecharetiro"
					is-open="opened" datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="form-group" ng-show="model.id">
			<label for="reset1"><input type="checkbox"
				ng-model="model.reiniciarclave1" id="reset1">Reiniciar
				clave 1</label>
		</div>
		<div class="form-group" ng-show="model.id">
			<label for="reset2"> <input type="checkbox"
				ng-model="model.reiniciarclave2" id="reset2"> Reiniciar
				clave 2
			</label>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
	<button type="button" class="btn btn-primary" ng-click="save(model)"
		ng-disabled="userDetail.$invalid">Guardar</button>
</div>