
<div class="modal-header">
	<h3 class="modal-title">Parametro</h3>
</div>
<div class="modal-body">
	<form role="form" novalidate name="paramDetail">
		<div class="form-group"
			ng-class="{ 'has-error': paramDetail.servidor.$dirty && paramDetail.servidor.$invalid }">
			<label for="servidorInput">Servidor</label> <input type="text"
				class="form-control" ng-model="param.servidor" id="servidorInput"
				name="servidor" placeholder="Escriba servidor" required>
			<div class="error-container"
				ng-messages="paramDetail.servidor.$dirty && paramDetail.servidor.$error">
				<div ng-message="required">Servidor es requerido</div>
			</div>
		</div>
		<div class="form-group">
			<label for="protocoloInput">Protocolo</label> <input type="text"
				class="form-control" ng-model="param.protocolo" id="protocoloInput"
				placeholder="Protocolo">
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
	<button type="button" class="btn btn-primary"
		ng-click="saveParam(param)" ng-disabled="paramDetail.$invalid">Guardar</button>
</div>