<div class="modal-header">
	<h3 class="modal-title">Rol</h3>
</div>
<div class="modal-body">
	<form role="form" novalidate name="rolDetail">
		<div class="form-group"
			ng-class="{ 'has-error': rolDetail.nombre.$dirty && rolDetail.nombre.$invalid }">
			<label for="nombreInput">Nombre</label> <input type="text"
				class="form-control" ng-model="model.nombre" id="nombreInput"
				name="nombre" placeholder="Escriba nombre del rol" required>
			<div class="error-container"
				ng-messages="rolDetail.nombre.$dirty && rolDetail.nombre.$error">
				<div ng-message="required">Nombre es requerido</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
	<button type="button" class="btn btn-primary" ng-click="save(model)"
		ng-disabled="rolDetail.$invalid">Guardar</button>
</div>