<h1>Modulos</h1>

<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Permisos</th>
		</tr>
		<tr ng-repeat="modulo in modulos">
			<td>{{modulo.id}}</td>
			<td>{{modulo.nombre}}</td>
			<td><button type="button" class="btn btn-primary btn-sm" 
				ng-click="mostrarRoles(modulo)" can-access="permisos_modulo">Roles autorizados</button></td>
		</tr>
	</table>
</div>

<script type="text/ng-template" id="verRolesModulo.html">
	<ng-include src="'/vassets/views/config/rolesModulo.html'"></ng-include>
</script>