<h1>Parametros</h1>
<button type="button" class="btn btn-primary" ng-click="newParam()">
  Agregar parametro
</button>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Servidor</th>
			<th>Protocolo</th>
			<th>---</th>
			<th>---</th>
		</tr>
		<tr ng-repeat="parametro in params">
			<td>{{ parametro.servidor }} </td>
			<td>{{ parametro.protocolo }} </td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-click="updateParam(parametro.id, parametro)" >Actualizar</button></td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-really-message="Eliminar parametro, esta seguro?" 
				ng-really-click="deleteParam(parametro.id)">Eliminar</button></td>
		</tr>
	</table>
</div>

<script type="text/ng-template" id="editParametro.html">
	<ng-include src="'/vassets/views/config/editParametro.html'"></ng-include>
</script>