<h1>Roles</h1>
<button type="button" class="btn btn-primary" ng-click="newRol()" can-create="roles">
  Agregar Rol
</button>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>---</th>
			<th>---</th>
		</tr>
		<tr ng-repeat="rol in roles">
			<td>{{ rol.id }} </td>
			<td>{{ rol.nombre }} </td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-click="updateRol(rol.id, rol)"
				can-edit="roles">Actualizar</button></td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-really-message="Eliminar rol esta seguro?" 
				ng-really-click="deleteRol(rol.id)" can-remove="roles">Eliminar</button></td>
		</tr>
	</table>
</div>

<script type="text/ng-template" id="editRol.html">
	<div ng-include src="'/vassets/views/config/editRol.html'"></div>
</script>