<div class="modal-header">
	<h3 class="modal-title">Roles autorizados para el modulo <strong>{{modulo.nombre}}</strong></h3>
</div>

<div class="modal-body">
	<div growl></div>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>Rol</th>
				<th can-remove="permisos_modulo">Acción</th>
			</tr>
			<tr ng-repeat="rol in rolesModulo">
				<td>{{rol.rol.nombre}}
				<td><button type="button" class="btn btn-primary btn-sm"
					ng-really-message="Esta seguro de eliminar el rol {{rol.rol.nombre}} del modulo {{modulo.nombre}}?" 
					ng-really-click="eliminarRol(rol.rpm.id)" can-remove="permisos_modulo">Remover</button></td>
			</tr>
			<tr>
				<td><select ng-model="selected.rol" class="form-control" ng-options="rol as rol.nombre for rol in roles"></select>
				<td><button type="button" class="btn btn-primary btn-sm"
					ng-really-message="Por favor confirme asignación de rol {{selected.rol.nombre}} al modulo {{modulo.nombre}}?" 
					ng-really-click="asignarRol()" can-create="permisos_modulo">Agregar</button></td>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
</div>