<div class="modal-header">
	<h3 class="modal-title">Roles del usuario {{usuario.nombre}}</h3>
</div>

<div class="modal-body">
	<div growl></div>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>Rol</th>
				<th can-remove="rolporusuario">Acción</th>
			</tr>
			<tr ng-repeat="rol in rolesUsuario">
				<td>{{rol.rol.nombre}}
				<td><button type="button" class="btn btn-primary btn-sm"
					ng-really-message="Esta seguro de eliminar el rol {{rol.rol.nombre}} del usuario {{usuario.nombre}}?" 
					ng-really-click="eliminarRol(rol.rpu.id)" can-remove="rolporusuario">Remover</button></td>
			</tr>
			<tr>
				<td><select ng-model="selected.rol" class="form-control" ng-options="rol as rol.nombre for rol in roles"></select>
				<td><button type="button" class="btn btn-primary btn-sm"
					ng-really-message="Por favor confirme asignación de rol {{selected.rol.nombre}} al usuario {{usuario.nombre}}?" 
					ng-really-click="asignarRol()" can-create="rolporusuario">Agregar</button></td>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
</div>