<h1>Usuarios</h1>
<button type="button" class="btn btn-primary" ng-click="newUser()" can-insert="usuarios">
  Agregar Usuario
</button>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Usuario</th>
			<th>Nombres</th>
			<th>Identificación</th>
			<th>Email</th>
			<th>Fecha retiro</th>
			<th can-access="rolporusuario">Roles</th>
			<th>---</th>
			<th>---</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{ user.usuario}} </td>
			<td>{{ user.nombre }} </td>
			<td>{{ user.identificacion }} </td>
			<td>{{ user.email }} </td>
			<td>{{ user.fecharetiro | amDateFormat:'MMMM Do YYYY' }} </td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-click="mostrarRoles(user)" can-access="rolporusuario">Ver roles</button></td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-click="updateUser(user.id, user)" 
				can-edit="usuarios">Actualizar</button></td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-really-message="Eliminar usuario esta seguro?" 
				ng-really-click="deleteUser(user.id)" can-remove="usuarios">Eliminar</button></td>
		</tr>
	</table>
</div>

<script type="text/ng-template" id="editUser.html">
	<ng-include src="'/vassets/views/config/editUser.html'"></ng-include>
</script>

<script type="text/ng-template" id="verRoles.html">
	<ng-include src="'/vassets/views/config/rolesUsuario.html'"></ng-include>
</script>