@()(implicit ctx: Option[control.WithModulesRequest[AnyContent]])

@scripts = {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.css"))">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("angular-growl.min.css"))">
}

@main("Configuración", "piscisConfig", scripts){
	<div ui-view></div>
    
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-messages.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("moment-with-locales.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-moment.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))" type="text/javascript"></script>
	<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-growl.min.js"))" type="text/javascript"></script>
    
    
    <script src="@routes.Assets.versioned("js/services/Inheritance.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/BaseService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/usuariosService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/rolesService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/modulosService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/parametrosService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/authService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/modalController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/rolesController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/modulosController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/rolesUsuarioController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/rolesModuloController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/config.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/services/permisosService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/configController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/parametrosController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/usuariosController.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/TestCtrl.js")" type="text/javascript"></script>
}