@()(implicit ctx: Option[control.WithModulesRequest[_]])

@main("Piscis", "piscisMain"){
	<div ng-view></div>
    <!-- <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))" type="text/javascript"></script> -->
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-messages.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))" type="text/javascript"></script>
    
    <script src="@routes.Assets.versioned("js/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/controllers/mainController.js")" type="text/javascript"></script>
}