@* login Template File *@
@(loginInfo: Form[(String, String)], dt: String)

@import helper._

@scripts = {
	<script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))" type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))" type="text/javascript"></script>
}

@main("login page","", scripts){
	<div class="container" id="login-form">
		@form(routes.LoginController.authenticate(dt), args = 'role -> "form"){
			<div>
				<fieldset>
					@helper.inputText(loginInfo("username"), args = '_label -> "Usuario", 'class -> "form-control")
					@helper.inputPassword(loginInfo("password"), args = '_label -> "Contraseña", 'class -> "form-control")
				</fieldset>
				
				@if(loginInfo.hasGlobalErrors) {
				  <div class="help-block">
					  <ul>
					  @for(error <- loginInfo.globalErrors) {
					    <li>@error.message</li>
					  }
					  </ul>
				  </div>
				}
				<div class="actions">
			      <input type="submit" value="Login" class="btn primary" id="submit">
			    </div>
		    </div>
		}
	</div>
}(None)