@(title: String, angularname: String = "", scripts: Html = Html(""))(content: Html)(implicit ctx: Option[control.WithModulesRequest[_]])

<!DOCTYPE html>
@*ng-app="@angularname"*@
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))">
        @scripts
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Piscis</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
        @ctx.map{ c=>
        <ul class="nav navbar-nav">
        	@c.mod.map{ m => <li><a href="@m.ruta">@m.nombre</span></a></li> }
        </ul>
	    <span class="nav navbar-text navbar-right">Usuario @c.user.nombre <a href="@routes.LoginController.logout()" class="navbar-link">cerrar session</a></span>
        }.getOrElse("")
      </div><!-- /.navbar-collapse -->
    </nav>
    @content
    </body>
</html>
